
.header_left{ float:left;}
.header_right{ float:right;}


.work_about_company_content{
    padding-left:49px;
    width:80%;
    float:right;
}

.work_about_company_content_title {
    width:100%;
}

.work_about_company_content_text {
    width: 100%;
}

.work_about_company_logo{
    width:30%;
}

.work_about_company_text_area {
    width:60%;
}

.work_about .div_right {
    background-color: transparent;
    margin-top: 15px;
    padding-left: 0px;
    padding-right:15px;
    float: right;
    color:yellow;
    clear :right;
    letter-spacing:4px;
/*    font-family: 'Pontano Sans', sans-serif;*/
}

.work_about_team_main{
    padding-left:49px;
    width:80%;
    float:right;
}

.work_imgs{
    width:100%;
}

.news_items{
    width:66%;
    float: left;
}

.news_imgs{
     width:33%;
     float: right;
}

.news_detail_img{
    width:100%;
}
.news_detail_txt{
    width:80%;
    padding-top: 20px;
}

.work_enviro_main_content_left{
    width:30%;
}

.work_navs{
    width:200px;
    float:left;
    margin-left:80%;
}
.work_nav{
    

}


.team_member_imgs{
	width:100%;
}
.team_member_img{
	width:25%;
}

.team_member_img a{
	width:100%;
}

.news_summary_title{
    width:63%;
    float:left;
   
}

.news_summary_title_txt{
     min-height:392px;
     background-color: #ffffff;
}

.news_summary_img{
    width:32%;
    float:left;
} 

.news_detail_txt{
    width:70%;
}

.item img{
    width:100%;
}



