/*    @import url(http://fonts.googleapis.com/css?family=Maven+Pro);*/
/*    @import url(http://fonts.googleapis.com/css?family=Pontano+Sans);*/

/*    @font-face {
      font-family: 'Pontano Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Pontano Sans'), local('PontanoSans-Regular'),
          url("font/psr.TTF") format('woff');
      font-family: Microsoft YaHei,"\5B8B\4F53",Arial,HELVETICA;
    }

    @font-face {
       font-family: "fzlt";
       font-style: normal;
       font-weight: normal;
       font-stretch: normal;
       src: url("font/FZLTXHK_0.TTF") format("opentype");
       font: Microsoft YaHei,"\5B8B\4F53",Arial,HELVETICA;
   }

   @font-face {
       font-family: "fine-black";
       font-style: normal;
       font-weight: normal;
       font-stretch: normal;
       src: url("font/fzltxh.ttf") format("opentype");
   }

   @font-face {
       font-family: "super-fine-black";
       font-style: normal;
       font-weight: normal;
       font-stretch: normal;
       src: url("font/fzltcxhjt.TTF") format("opentype");
       font: Microsoft YaHei,"\5B8B\4F53",Arial,HELVETICA;
   }

   @font-face {
       font-family: "fiber-black";
       font-style: normal;
       font-weight: normal;
       font-stretch: normal;
       src: url("font/fzltqhjt.TTF") format("opentype");
       font: Microsoft YaHei,"\5B8B\4F53",Arial,HELVETICA;
   }*/

   @font-face {
       font-family: "super-fine-black";
       font-style: normal;
       font-weight: normal;
       font-stretch: normal;
       src: url("font/fzltcxhjt.TTF") format("opentype");
   }

body{
    font-family: Microsoft YaHei,"\5B8B\4F53",Arial,HELVETICA!Important;
}

h1{
     font-family: super-fine-black;
}

.super-fine-black{
     font-family: super-fine-black;
}

.dashboard-page{
     background-color: #494949!Important;
     max-width: 1351px;
}

.block-dashboard .content{
    margin-top:0px!Important;
}

.page-main{
    width:100%;
    margin: auto;
}

.first_header{
    width: 100%;
    background-color: black;
/*    font-family: fiber-black;*/
 
}

.first_header ul  {
   width: auto;
   margin-top:10px;
   display:inline-block;
}

.first_header ul li {
    color:#d7d7d7;
    list-style:none;
    float:left;
    font-size: 14px;
}

.first_header ul li a{
    padding-left: 8px;
    padding-right: 8px;
}


.first_header ul li a:link,a:visited,a:hover,a:active{
    color:#d7d7d7;
    text-decoration: none;
}

.nav_link{
    float:right;
    color:#d7d7d7;
    font-size: 18px;
    margin-bottom:0px;
    padding-top : 0px!important;
    margin-top : 0px!important;
}

.nav_link li{
    height:60px;
    width: 60px;
    border-left:1px solid #333;
    padding-top: 20px;
}



.sec_header{
    width: 100%;
/*    background-color: yellow;*/
    height:80px;
    background: url(../images/header/header.jpg);
}


.dashboard_main_logo{
    width:80px;
    padding-top:5px;
    margin-left:8px;
}

.dashboard_main{
    width: 100%;
    background-color: black;
}


.dashboard_main .dashboard_img{
   background-color: #ffffff;
   width:100%;
}

.dashboard_main .story{
	margin: 0 auto;
	overflow: auto;
/*	width: 1080px;*/
}
.dashboard_main .dashboard_img5{
   background: url(../images/main_image/5.jpg) 50% 0 no-repeat fixed;
   height:515px;
}

.dashboard_main .dashboard_img1{
   background: url(../images/main_image/1.jpg) 50% 0 no-repeat fixed;
   height:515px;
}

.dashboard_main .dashboard_img2{
   background: url(../images/main_image/2.jpg) 50% 0 no-repeat fixed;
   height:515px;
}
.dashboard_main .dashboard_img3{
   background: url(../images/main_image/3.jpg) 50% 0 no-repeat fixed;
   height:515px;
}
.dashboard_main .dashboard_img4{
    background: url(../images/main_image/4.jpg) 50% 0 no-repeat fixed;
   height:515px;
}
.dashboard_main .small_log1{
    background: url(../images/main_image/dashboard_logo1.png) 50% 0 no-repeat fixed;
/*        background-size:90px ;*/
        z-index: 200;
	margin: 0 auto;
	position: absolute;
        width: 90%;
        height: 515px;
        background-size:130px ;
}

.dashboard_main .small_log2{
        background: url(../images/main_image/dashboard_logo2.png) 50% 0 no-repeat fixed;
/*        background-size:90px ;*/
        z-index: 200;
	margin: 0 auto;
	position: absolute;
        width: 90%;
        height:515px;
        background-size:110px ;
}
.dashboard_main .small_log3{
        background: url(../images/main_image/dashboard_logo3.png) 50% 0 no-repeat fixed;
        background-size:180px ;
        z-index: 200;
	margin: 0 auto;
	position: absolute;
        width: 90%;
        height:515px;
}

.dashboard_main .small_log4{
    background: url(../images/main_image/dashboard_logo4.png) 50% 0 no-repeat fixed;
/*    background-size:180px ;*/
    z-index: 200;
    margin: 0 auto;
    position: absolute;
    width: 90%;
    height:515px;
    background-size:170px ;
}
.dashboard_main .small_log{
    z-index: 200;
}

#cs_nav li:hover, #cs_nav li.current{
    background: url(../images/main_image/cs_nav_tick.png) no-repeat 0 50%;
}

#cs_nav li {
    display: none;
    margin-bottom: 10px;
    padding: 0 0 0 5px;
}

#cs_nav {
    position: fixed;
    right: 30px;
    top: 220px;
    width: 25px;
    z-index: 30;
}

#cs_nav li a {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.75);
    display: block;
    height: 20px;
    text-indent: -9999px;
    width: 20px;
    -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}
/***********************************/
.dashboard_footer{
/*    background: #222 url(../images/footer/blackStripe.png);*/
/*    height: 479px;*/
    height:250px;
    color: #000000;
/*    color: #A7A7A7;*/
    clear:both;
    padding-bottom: 40px;
/*    background-color: #231915;*/
     background-color: #000000;
/*    z-index: 888;*/
    position: relative;
    
    display: block;
/*    font-family: fiber-black;*/
}

.dashboard_footer .news_footer_contact{
    font-size: 12px;
    color:#8b8b8b;
    padding : 60px 0px 30px 68px;
/*    width: 510px;*/
    float: left;
}

.dashboard_footer .news_footer_contact span{
    padding-right:5px;
}

.dashboard_footer .news_footer_partner{
    font-size: 12px;
    color:#8b8b8b;
    float: right;
    padding-top : 60px ;
/*    margin-right: 152px;*/
    text-align: right;
}

.dashboard_footer .friend_link{
    clear:left;
    font-size: 12px;
    color:#8b8b8b;
    padding : 0px 20px 0px 68px;
    float: left;
   
}

.dashboard_footer .friend_link span{
   padding-right: 10px;
}

.dashboard_footer .friend_link .friend_link_img{
    vertical-align:top;
}

.dashboard_footer .new_media{
    font-size: 12px;
    color:#8b8b8b;
    float: left;
}

.dashboard_footer .new_media span{
   padding-right: 10px;
}

.dashboard_footer .new_media .new_media_img{
    vertical-align:top;
    width: 29px;
    height: 29px;
    
}

.footer_item{
    color:yellow;
    float:left;
    padding-right:12px;
}


/**********************************************/

.news_item{
    background-color: yellow;
}

.nav_img{
   width: 45px;
    height:45px;
}

.chinese_right{
/*      font-family: fiber-black;*/
}

.thumbnail {
  display: block;
  padding: 0px;
  margin-bottom: 0px;
  line-height: 1.428571429;
  background-color: transparent;
  border: 0px solid transparent;
/*  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;*/
}
.thumbnail > img,
.thumbnail a > img {
    margin-left:0px;
    margin-right:0px;
}